<%= stylesheet_link_tag 'whatsapp' %>

<div class="chat-container">

  <div class="messages-container">
    
    <% @messages.each do |message| %>
      <% if message.sent %>
        <div class="message"><h3><%= message.body %></h3></div>
      <% else %>
        <div class="message-received"><h3><%= message.body %></h3></div>
      <% end %>

    <%end%>

  </div>

  <div class="form-container">
      <%= form_tag enviar_mensagem_path, method: :post do %>
      
      <%= text_field_tag :mensagem, '', :placeholder => 'Digite sua mensagem', :autocomplete => :off ,rows: 4, class: 'text-field' %>

      <%= submit_tag 'Enviar', class: 'botao' %>
      <% end %>
  </div>

</div>